*{
    margin: 0;
    padding: 0;
}

html{
    background-color: beige;
    margin-right: 50px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: whitesmoke;
}

.row{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    font-size: 1rem;
    
}
.aside{
    background-color: rgb(182, 150, 150);
    flex: 80%;
    padding: 10%;
    font-size: 1rem;
}


.titulo{
    border: 2px solid black;
    text-align: center;
}

.parrafo{
    margin: 10px;
    padding: 10px;
    border: 2px black solid;
    text-align: justify;
    font-size: 3rem;
}

.tarjetas{

    position: sticky;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.tarjetas .card{
    background: linear-gradient(yellow, white, black);
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 2px dotteds red;
    border-radius: 30px;
    box-shadow: 7px 7px #000;
    padding: 10px;
    overflow: auto;
    aspect-ratio: ratio 700px / 800px;
}

.tarjetas .card .contenido img{
    display: block;
    margin: auto;
    width: 45%;
}

.tarjetas .card .contenido .centrar{
    text-align: center;
    color: blue;
    border-bottom: 2px solid red;
    font-weight: bold;
    font-size: 1.5rem;
}
